<h1>Feed Route-o-matic</h1>

<style>
table.valhalla-test td {
  padding: 5px;
}
</style>

<table class="valhalla-test">
  <thead>
    <tr>
      <th>Feed</th>
      <th>Origin</th>
      <th>Destination</th>
      {{#each departure_date_times as |departure_date_time|}}
        <th>{{departure_date_time}}</th>
      {{/each}}
    </tr>
  </thead>

  {{#each model as |feed_stop_pairs|}}
    <tbody>
      <tr>
        <td>{{feed_stop_pairs.feed.id}}</td>
      </tr>
    {{#each feed_stop_pairs.stop_pairs as |stop_pair|}}
      <tr>
        <td></td>
        <td>{{stop_pair.[0].id}}</td>
        <td>{{stop_pair.[1].id}}</td>
        {{#each departure_date_times as |departure_date_time|}}
          <td>
            {{valhalla-trip origin=stop_pair.[0] destination=stop_pair.[1] departure_date_time=departure_date_time}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
  {{/each}}

</table>
