<h2>{{link-to 'Users' 'users'}} / {{model.name}}</h2>

<dl class="dl-horizontal">
  <dt>E-mail</dt>
  <dd>{{model.email}}</dd>
  <dt>Affiliation</dt>
  <dd>{{model.affiliation}}</dd>
  <dt>User Type</dt>
  <dd>{{model.user_type}}</dd>
</dl>

{{#link-to 'users.edit' model class="btn btn-primary" }}Edit{{/link-to}}

<h2>Changesets by User</h2>

{{changeset-table changesets=model.changesets showUserColumn=false}}
