<h2>{{link-to 'Changesets' 'changesets'}} / Editing Changeset #{{model.id}}</h2>

<p>{{textarea value=model.notes cols=100 rows=10}}</p>
{{#unless model.applied }}
  <p>{{textarea value=model.stringified_payload cols=100 rows=10}}</p>
  {{!-- {{json-editor json=model.payload mode='text'}} --}}
{{/unless}}

{{#link-to 'changesets.show' model}}Cancel{{/link-to}}
<input type="button" {{action 'update'}} value="Update" class="btn btn-primary">
