<dl class="dl-horizontal">
  <dt>Created at</dt>
  <dd>{{model.created_at}}</dd>
  <dt>Updated at</dt>
  <dd>{{model.updated_at}}</dd>
</dl>

<table class="table table-hover">
{{#each-in model.json.statistics as |key value|}}
  <thead>
    <tr>
      <th>{{key}}</th>
      <th>Rows</th>
      <th>Unique</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
  </thead>
  {{#each-in value as |column stats|}}
    <tr>
      <td>{{column}}</td>
      <td>{{stats.total}}</td>
      <td>{{stats.unique}}</td>
      <td>{{stats.min}}</td>
      <td>{{stats.max}}</td>
    </tr>
  {{/each-in}}
{{/each-in}}
</table>
