<div class="row">
  <div class="col-xs-6">
    <h2>{{model.meta.total}} Users</h2>
  </div>
  <div class="col-xs-6 text-right">
    {{#link-to 'users.new' class="btn btn-primary" }}New User{{/link-to}}
  </div>
</div>

<table class="table">
  <thead>
    <th>E-mail</th>
    <th>Name</th>
    <th>Admin?</th>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{link-to user.email 'users.show' user}}</td>
        <td>{{user.name}}</td>
        <td>
          {{#if user.admin}}
            <span class="badge" style="background-color: red;">{{fa-icon "check"}}</span>
          {{/if}}
        </td>
      </tr>
    {{else}}
      <p>No users.</p>
    {{/each}}
  </tbody>
</table>

{{pagination-controls route="users" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset perPage=per_page}}
