<div class="row">
  <div class="col-md-6">
    <h2>
      {{link-to 'Feeds' 'feeds'}} /
      {{#link-to 'feeds.show' model.feed}}{{model.feed.onestop_id}}{{/link-to}} /
      {{#link-to 'feed-versions.show' model.feed_version}}{{model.feed_version.short_sha1}}{{/link-to}} /
      {{model.id}}
    </h2>
  </div>
</div>

{{feed-version-import-panel feedVersionImport=model}}
