<div class="row">
  <div class="col-md-6">
    <h2>{{model.meta.total}} Feeds</h2>
  </div>
  <div class="col-md-6 text-right">
    {{feed-fetcher-controls}}
  </div>
</div>

<div class="btn-toolbar" role="toolbar">
  <div class="col-lg-3">
    <div class="input-group">
      <span class="input-group-addon">
        Valid on:
      </span>
      {{bootstrap-datepicker class="form-control" autoclose=true clearBtn=true todayBtn=true format="yyyy-mm-dd" changeDate="setActiveFeedVersionValid"}}
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-3">
    <div class="input-group">
      <span class="input-group-addon">
        Expired on:
      </span>
      {{bootstrap-datepicker class="form-control" autoclose=true clearBtn=true todayBtn=true format="yyyy-mm-dd" changeDate="setActiveFeedVersionExpired"}}
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-3">
    <div class="input-group">
      {{x-toggle showLabels=true on="can be updated" off="cannot be updated" value=activeFeedVersionUpdate}}
    </div>
  </div>
</div><!-- /.row -->


{{feeds-table feeds=model}}

{{pagination-controls route="feeds" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset}}
