<div class="row">
  <div class="col-md-6">
    <h2>{{model.meta.total}} Feeds</h2>
  </div>
  <div class="col-md-6 text-right">
    {{feed-fetcher-controls}}
  </div>
</div>

<div class="btn-toolbar" role="toolbar">
  {{x-toggle showLabels=true on="can be updated" off="cannot be updated" value=active_feed_version_update}}
</div>

{{feeds-table feeds=model}}

{{pagination-controls route="feeds" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset}}
