{{#link-to 'changesets'}}Back to All Changesets{{/link-to}}
<h1>Changeset #{{model.id}}</h1>
<p>{{model.notes}}</p>
<pre style="max-width: 100%; word-wrap: break-word;">
  {{model.stringified_payload}}
</pre>
{{json-editor json=model.payload mode='view'}}
{{#link-to 'changesets.edit' model}}Edit this Changeset{{/link-to}}

{{#unless model.applied }}
  <input type="button" {{action 'apply'}} value="Apply" >
{{/unless}}
