<table class="table table-hover">
  <thead>
    <th>Onestop ID</th>
    <th># of Feed Versions</th>
    <th>Last Fetched</th>
    <th>Import Status</th>
    <th>Last Imported</th>
    <th>Import Level of Active Feed Version</th>
  </thead>
  <tbody>
    {{#each feeds as |feed|}}
      {{#link-to "feeds.show" feed tagName="tr" }}
        <td>
          <h4>{{feed.onestop_id}}</h4>
        </td>
        <td>{{feed.feed_versions_count}}</td>
        <td class="">
          {{#if feed.last_fetched_at}}
            {{moment-from-now feed.last_fetched_at}}
          {{/if}}
          {{#if feed.latest_fetch_exception_log}}
            {{fa-icon "exclamation-triangle" size=2 classNames="text-danger" title=feed.latest_fetch_exception_log}}
          {{/if}}
        </td>
        <td class="{{feed.importStatusCssClass}}">
          {{feed.import_status}}
        </td>
        <td>
          {{#if feed.last_imported_at}}
            {{moment-from-now feed.last_imported_at}}
          {{/if}}
        </td>
        <td>
          {{#if feed.active_feed_version}}
            {{feed.import_level_of_active_feed_version}}
          {{/if}}
        </td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>