{{#if session.isAuthenticated}}
  {{#if anyModelsSelected}}
    <div class="panel panel-primary">
      <div class="panel-heading">Run Commands on Selected Feeds</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            {{feed-fetcher-controls feeds=selectedModels buttonText="Fetch selected feed(s)"}}
          </div>
          <div class="col-md-6">
            Import latest version of feed(s) at:
            <div class="btn-group" role="group" aria-label="Enqueue import:">
              <button type="button" class="btn btn-warning" title="operators, stops, routes" {{action "enqueueSelectedFeedsForImport" 1}}>Level 1</button>
              <button type="button" class="btn btn-warning" title="operators, stops, routes, schedules" {{action "enqueueSelectedFeedsForImport" 2}}>Level 2</button>
              <button type="button" class="btn btn-warning" title="operators, stops, routes, schedules, Valhalla dev" {{action "enqueueSelectedFeedsForImport" 3}}>Level 3</button>
              <button type="button" class="btn btn-warning" title="operators, stops, routes, schedules, Valhalla dev, Valhalla prod" {{action "enqueueSelectedFeedsForImport" 4}}>Level 4</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        {{#if allModelsSelected}}
          <input type="checkbox" {{action "selectNone"}} checked>
        {{else}}
          {{#if anyModelsSelected}}
            <!-- some day it would be nice to be able to mark this checkbox
                 as indeterminate -->
            <input type="checkbox" {{action "selectAll"}}>
          {{else}}
            <input type="checkbox" {{action "selectAll"}}>
          {{/if}}
        {{/if}}
      </th>
      <th>Onestop ID</th>
      <th>Feed Format</th>
      <th>Name</th>
      <th># of Feed Versions</th>
      <th>Last Fetched</th>
      <th>Fetch Status {{fa-icon "exclamation-triangle" size=2 classNames="text-danger" title='Fetch error status may be transient as feeds are continuously refetched'}}</th>
      <th>Import Status</th>
      <th>Last Imported</th>
      <th>Import Level of Active Feed Version</th>
    </tr>
  </thead>
  <tbody>
    {{#each selectableModels as |feed|}}
      {{feeds-table/feed-row feed=feed}}
    {{/each}}
  </tbody>
</table>
