<div class="row">
  <div class="col-md-6">
    <h2>{{link-to 'Feeds' 'feeds'}} / {{model.onestop_id}}</h2>
  </div>
  <div class="col-md-6 text-right">
    {{feed-fetcher-controls feed=model}}
  </div>
</div>

<dl class="dl-horizontal">
  <dt>URL</dt>
  <dd>{{model.url}}</dd>
  <dt>Feed format</dt>
  <dd>{{model.feed_format}}</dd>
  <dt>Tags</dt>
  <dd>{{model.tags}}</dd>
  <dt>License name and/or URL</dt>
  <dd>{{model.license_name}} {{model.license_url}}</dd>
  <dt>License use without attribution</dt>
  <dd>{{model.license_use_without_attribution}}</dd>
  <dt>License created derived product</dt>
  <dd>{{model.license_create_derived_product}}</dd>
  <dt>License redistribute</dt>
  <dd>{{model.license_redistribute}}</dd>
  <dt>License attribution text</dt>
  <dd>{{model.license_attribution_text}}</dd>
  <dt># of feed versions</dt>
  <dd>{{model.feed_versions_count}}</dd>
  <dt>Active feed version</dt>
  <dd>
    {{#if model.active_feed_version}}
      {{model.active_feed_version.sha1}}
    {{else}}
      <em>none</em>
    {{/if}}
  </dd>
  <dt>Import level of active feed version</dt>
  <dd>{{model.import_level_of_active_feed_version}}</dd>
  <dt>Created</dt>
  <dd>{{model.created_at}}</dd>
  <dt>Updated</dt>
  <dd>{{model.updated_at}}</dd>
  {{#if model.created_or_updated_in_changeset}}
    <dt>Created or updated in</dt>
    <dd>
      {{#link-to 'changesets.show' model.created_or_updated_in_changeset}}
        changeset #{{model.created_or_updated_in_changeset.id}}
      {{/link-to}}
    </dd>
  {{/if}}
  <dt>Last fetched at</dt>
  <dd>{{model.last_fetched_at}}</dd>
  <dt>Last imported at</dt>
  <dd>{{model.last_imported_at}}</dd>
</dl>
{{#if model.latest_fetch_exception_log}}
  {{#collapsable-panel title="Error fetching feed..." panelClass="panel-danger"}}
    <strong>Exception log from {{moment-from-now model.last_fetched_at}} ago:</strong>
    <pre>{{model.latest_fetch_exception_log}}</pre>
  {{/collapsable-panel}}
{{/if}}

<h2>Changesets imported from this feed</h2>
<ul>
  {{#each model.changesets_imported_from_this_feed as |changeset|}}
    <li>
      {{#link-to 'changesets.show' changeset}}
        changeset #{{changeset.id}}
      {{/link-to}}
    </li>
  {{else}}
    <p>No changesets have been imported from this feed.</p>
  {{/each}}
</ul>

<h2>Feed versions</h2>
{{feed-versions-list feed=model}}
