<h1>{{model.onestop_id}}</h1>


<input type="button" {{action 'enqueue' 1}} value="Enqueue Level 1" class="btn btn-danger">
<input type="button" {{action 'enqueue' 2}} value="Enqueue Level 2" class="btn btn-danger">

<h2>Feed Imports</h2>
{{#each feedImports as |feedImport|}}
  {{feedImport.success}}
  {{feedImport.sha1}}
  {{feedImport.import_log}}
  {{feedImport.created_at}}
  <h3>Feed Schedule Imports</h3>
  {{#each feedImport.feed_schedule_imports as |feedScheduleImport|}}
    {{feedScheduleImport.success}}
  {{/each}}
{{/each}}
