<div class="row">
  <div class="col-md-6">
    <h2>{{link-to 'Feeds' 'feeds'}} / {{model.feed.onestop_id}}</h2>
  </div>
  <div class="col-md-6 text-right">
    {{feed-fetcher-controls feedFetchStarted="feedFetchStarted" feed=model.feed}}
  </div>
</div>

<dl class="dl-horizontal">
  <dt>URL</dt>
  <dd>{{model.feed.url}}</dd>
  <dt>Feed format</dt>
  <dd>{{model.feed.feed_format}}</dd>
  <dt>Tags</dt>
  <dd>
    {{#each-in model.feed.tags as |key value|}}
      {{key}}: {{value}} <br />
    {{/each-in}}
  </dd>
  <dt>Operators In Feed</dt>
  <dd>
    {{#each model.feed.operators_in_feed as |oif|}}
      {{oif.operator_onestop_id}}: {{oif.gtfs_agency_id}} <br />
    {{/each}}
  </dd>
  <dt>License name and/or URL</dt>
  <dd>{{model.feed.license_name}} {{model.feed.license_url}}</dd>
  <dt>License use without attribution</dt>
  <dd>{{model.feed.license_use_without_attribution}}</dd>
  <dt>License created derived product</dt>
  <dd>{{model.feed.license_create_derived_product}}</dd>
  <dt>License redistribute</dt>
  <dd>{{model.feed.license_redistribute}}</dd>
  {{#if model.feed.license_attribution_text}}
    <dt>License attribution text</dt>
    <dd>{{model.feed.license_attribution_text}}</dd>
  {{/if}}
  <dt># of feed versions</dt>
  <dd>{{model.feed.feed_versions_count}}</dd>
  <dt>Active feed version</dt>
  <dd>
    {{#if model.feed.active_feed_version}}
      {{model.feed.active_feed_version.sha1}}
    {{else}}
      <em>none</em>
    {{/if}}
  </dd>
  <dt>Import level of active feed version</dt>
  <dd>{{number-as-pips model.feed.import_level_of_active_feed_version 4}}</dd>
  <dt>Created</dt>
  <dd>{{time-since-with-mouseover model.feed.created_at}}</dd>
  <dt>Updated</dt>
  <dd>{{time-since-with-mouseover model.feed.updated_at}}</dd>
  {{#if model.feed.created_or_updated_in_changeset}}
    <dt>Created or updated in</dt>
    <dd>
      <h4>{{#link-to 'changesets.show' model.feed.created_or_updated_in_changeset}}
        changeset #{{model.feed.created_or_updated_in_changeset.id}}
      {{/link-to}}</h4>
    </dd>
  {{/if}}
  <dt>Last fetched at</dt>
  <dd>{{time-since-with-mouseover model.feed.last_fetched_at}}</dd>
  <dt>Last imported at</dt>
  <dd>{{time-since-with-mouseover model.feed.last_imported_at}}</dd>
</dl>
<h2>Feed fetch issues</h2>
{{#if model.feed.hasIssues}}
  {{#each model.feed.issues as |issue|}}
    {{#collapsable-panel title="Error fetching feed..." panelClass="panel-danger"}}
      <strong>Issue created by feed fetch {{moment-from-now model.feed.last_fetched_at}}</strong><br/>
      <b>Issue type:</b> {{issue.issue_type}}<br/>
      <b>Description:</b> {{issue.computeTypeDescription}}<br/>
      <h4>{{#link-to 'issues.feed-fetch.show' issue.id}}
        View details and resolve issue #{{issue.id}} {{fa-icon "question" size=2 title='Issue id uniquely identifies the Issue in the Datastore'}}
      {{/link-to}}</h4>
    {{/collapsable-panel}}
  {{/each}}
{{else}}
  <strong>None</strong>
{{/if}}
<h2>Feed import issues</h2>
<table class="table table-hover">
  <thead>
    <tr>
      {{#if (gt model.routeGeometryIssues.meta.total 0)}}
        <th>Route geometry issues: {{model.routeGeometryIssues.meta.total}}</th>
      {{else}}
        <th>Route geometry issues</th>
      {{/if}}
      {{#if (gt model.stationHierarchyIssues.meta.total 0)}}
        <th>Station hierarchy issues: {{model.stationHierarchyIssues.meta.total}}</th>
      {{else}}
        <th>Station hierarchy issues</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#if (gt model.routeGeometryIssues.meta.total 0)}}
        <td class="danger">
          {{#link-to 'issues.route-geometry.index' (query-params of_feed_entities=model.feed.onestop_id)}}
            View and resolve.
          {{/link-to}}
        </td>
      {{else}}
        <td class="success">
          <strong>None</strong>
        </td>
      {{/if}}
      {{#if (gt model.routeGeometryIssues.meta.total 0)}}
        <td class="danger">
          {{#link-to 'issues.station-hierarchy.index' (query-params of_feed_entities=model.feed.onestop_id)}}
            View and resolve.
          {{/link-to}}
        </td>
      {{else}}
        <td class="success">
          <strong>None</strong>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>

<h2>Create an issue</h2>
<h4>{{#link-to 'issues.new' model.feed.onestop_id  (query-params imported_from_feed=model.feed.onestop_id)}}
  Create an issue from feed {{model.feed.onestop_id}} entities.
{{/link-to}}</h4>

<h2>Changesets imported from this feed</h2>
<ul>
  {{#each model.feed.changesets_imported_from_this_feed as |changeset|}}
    <li>
      {{#link-to 'changesets.show' changeset}}
        changeset #{{changeset.id}}
      {{/link-to}}
    </li>
  {{else}}
    <p>No changesets have been imported from this feed.</p>
  {{/each}}
</ul>

<h2>Feed versions</h2>
{{feed-versions-list feed=model.feed}}
