<td>
  {{input type="checkbox" checked=feed.isSelected}}
</td>
<td>
  <h4>{{link-to feed.onestop_id 'feeds.show' feed.id}}</h4>
</td>
<td>{{feed.feed_versions_count}}</td>
<td class="">
  {{#if feed.last_fetched_at}}
    {{time-since-with-mouseover feed.last_fetched_at}}
  {{/if}}
  {{#if feed.issues}}
    {{fa-icon "exclamation-triangle" size=2 classNames="text-danger" title=feed.issues.firstObject.details}}
  {{/if}}
</td>
<td class="{{feed.fetchStatusCssClass}}">
  {{feed.issues.firstObject.issue_type}}
</td>
<td class="{{feed.importStatusCssClass}}">
  {{feed.import_status}}
</td>
<td>
  {{#if feed.last_imported_at}}
    {{time-since-with-mouseover feed.last_imported_at}}
  {{/if}}
</td>
<td>
  {{#if feed.active_feed_version}}
    {{number-as-pips feed.import_level_of_active_feed_version 4}}
  {{/if}}
</td>
