<h3>Issue type</h3>
<b>{{issue.issue_type}}</b>
<p>{{issue.typeDescription}}</p>
<h3>Time created</h3>
<p>{{issue.created_at}}</p>
<h3>Created by changeset</h3>
{{#if issue.created_by_changeset_id}}
  {{#link-to 'changesets.show' issue.created_by_changeset_id}}{{issue.created_by_changeset_id}}{{/link-to}}
{{/if}}
<h3>Entities</h3>
{{#if showEntities}}
  <table class="table">
    <thead>
      <th>Entity ID</th>
      <th>Attribute Blame</th>
      <th>Attribute Value</th>
    </thead>
    <tbody>
      {{#each issue.entities_with_issues as |entity_with_issue|}}
        <tr>
          <td>{{entity_with_issue.onestop_id}}</td>
          <td>{{entity_with_issue.entity_attribute}}</td>
          <!-- objects need to be string -->
          <td>{{get entity_with_issue.entity entity_with_issue.entity_attribute}}</td>
        </tr>
      {{else}}
        <p>No entities.</p>
      {{/each}}
    </tbody>
  </table>
{{else}}
  See display.
{{/if}}
<h3>Details</h3>
<p>{{issue.details}}</p>
