<div class="row">
  <div class="col-sm-3 col-xs-6">
    <div class="input-group">
      <span class="input-group-addon">
        Tag
      </span>
      <input type="text" class="form-control" value={{tag_key}} oninput={{action (mut tag_key_input) value="target.value"}} />
      <input type="text" class="form-control" value={{tag_value}} oninput={{action (mut tag_value_input) value="target.value"}} />
      <span class="input-group-addon">
        <button {{action "setTagKeyValue"}} class="btn btn-default">Filter</button>
      </span>
    </div>
  </div>
</div>
