<div class="row">

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Country:
      </span>
      {{#power-select
        options=geographies.countries
        selected=country
        onchange=(action (mut country))
        allowClear=true
        as |country|
      }}
        {{country}}
      {{/power-select}}
    </div>
  </div>

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        State/Province:
      </span>
      {{#power-select
        options=geographies.states
        selected=state
        onchange=(action (mut state))
        allowClear=true
        as |state|
      }}
        {{state}}
      {{/power-select}}
    </div>
  </div>

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Metro:
      </span>
      {{#power-select
        options=geographies.metros
        selected=metro
        onchange=(action (mut metro))
        allowClear=true
        as |metro|
      }}
        {{metro}}
      {{/power-select}}
    </div>
  </div>

  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">
        Without feed:
      </span>
      <select class="form-control" onchange={{action (mut without_feed) value="target.value"}}>
        <option value=""></option>
        <option value="true" selected={{eq without_feed "true"}}>True</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Tag key" value={{tag_key}} oninput={{action (mut tag_key_input) value="target.value"}} />
      <span class="input-group-addon" style="border-left: 0; border-right: 0;">:</span>
      <input type="text" class="form-control" placeholder="Tag value" value={{tag_value}} oninput={{action (mut tag_value_input) value="target.value"}} />
      <span class="input-group-addon">
        <button {{action "setTagKeyValue"}} class="">Filter</button>
      </span>
    </div>
  </div>


</div>
