<dl class="dl-horizontal">
  <dt>URL</dt>
  <dd>{{model.url}}</dd>
  <dt>Feed format</dt>
  <dd>{{model.feed_format}}</dd>
  <dt>Tags</dt>
  <dd>
    {{#each-in model.tags as |key value|}}
      {{key}}: {{value}} <br />
    {{/each-in}}
  </dd>
  <dt>Operators In Feed</dt>
  <dd>
    {{#each model.operators_in_feed as |oif|}}
      {{oif.operator_onestop_id}}: {{oif.gtfs_agency_id}} <br />
    {{/each}}
  </dd>
  <dt>License name and/or URL</dt>
  <dd>{{model.license_name}} {{model.license_url}}</dd>
  <dt>License use without attribution</dt>
  <dd>{{model.license_use_without_attribution}}</dd>
  <dt>License created derived product</dt>
  <dd>{{model.license_create_derived_product}}</dd>
  <dt>License redistribute</dt>
  <dd>{{model.license_redistribute}}</dd>
  {{#if model.license_attribution_text}}
    <dt>License attribution text</dt>
    <dd>{{model.license_attribution_text}}</dd>
  {{/if}}
  <dt># of feed versions</dt>
  <dd>{{model.feed_versions_count}}</dd>
  <dt>Active feed version</dt>
  <dd>
    {{#if model.active_feed_version}}
      {{#link-to 'feed-versions.show' model.active_feed_version}}{{model.active_feed_version.id}}{{/link-to}}
    {{else}}
      <em>none</em>
    {{/if}}
  </dd>
  <dt>Import level of active feed version</dt>
  <dd>{{number-as-pips model.import_level_of_active_feed_version 4}}</dd>
  <dt>Created</dt>
  <dd>{{time-since-with-mouseover model.created_at}}</dd>
  <dt>Updated</dt>
  <dd>{{time-since-with-mouseover model.updated_at}}</dd>
  {{#if model.created_or_updated_in_changeset}}
    <dt>Created or updated in</dt>
    <dd>
      <h4>{{#link-to 'changesets.show' model.created_or_updated_in_changeset}}
        changeset #{{model.created_or_updated_in_changeset.id}}
      {{/link-to}}</h4>
    </dd>
  {{/if}}
  <dt>Last fetched at</dt>
  <dd>{{time-since-with-mouseover model.last_fetched_at}}</dd>
  <dt>Last imported at</dt>
  <dd>{{time-since-with-mouseover model.last_imported_at}}</dd>
</dl>
