{{#if currentlyFiltering}}
  {{#if filterByChangesetId}}
    <p>
      Showing activity related to changeset #{{filterByChangesetId}}
      ({{#link-to 'index' (query-params changeset=null)}}clear filter{{/link-to}})
   </p>
  {{/if}}
  {{#if filterByFeedOnestopId}}
    <p>
      Showing activity related to feed #{{filterByFeedOnestopId}}
      ({{#link-to 'index' (query-params feed=null)}}clear filter{{/link-to}})
   </p>
  {{/if}}
{{else}}
  <p>
    Filter by changeset:
    <ul>
      {{#each possibleChangesetsToFilterBy as |changesetId|}}
        <li>{{#link-to 'index' (query-params changeset=changesetId)}}#{{changesetId}}{{/link-to}}</li>
      {{/each}}
    </ul>
   </p>
  <p>
    Filter by feed:
    <ul>
      {{#each possibleFeedsToFilterBy as |feedOnestopId|}}
        <li>{{#link-to 'index' (query-params feed=feedOnestopId)}}{{feedOnestopId}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </p>
{{/if}}

{{#each activityUpdates as |activityUpdate|}}
  {{activity-update-list/activity-update-entry activityUpdate=activityUpdate}}
{{else}}
  <p>No activity updates.</p>
{{/each}}
