<h2>{{link-to 'Changesets' 'changesets'}} / {{#link-to 'changesets.show' model.changeset}}Changeset #{{model.changeset.id}}{{/link-to}} / Editing Payload #{{model.id}}</h2>

<dl class="dl-horizontal">
  <dt>Created</dt>
  <dd>{{model.created_at}}</dd>
  <dt>Updated</dt>
  <dd>{{model.updated_at}}</dd>
</dl>

{{change-payload-viewer-editor changePayload=model editMode=true}}

{{#link-to 'changesets.show' model.changeset}}Cancel{{/link-to}}
<a class="btn btn-danger" {{action 'delete' model}}>Delete this Payload</a>
<input type="button" {{action 'update'}} value="Update" class="btn btn-primary">
