<div class="row">
  <div class="col-md-6">
    <h2>{{model.meta.total}} {{if applied "Applied" "Unapplied"}} Changesets</h2>
  </div>
  <div class="col-md-6 text-right">
    {{#link-to 'changesets.new' class="btn btn-primary" }}New Changeset{{/link-to}}
  </div>
</div>

<div class="btn-toolbar" role="toolbar">
  {{x-toggle showLabels=true onLabel="already applied" offLabel="not yet applied" value=applied}}
</div>

{{changeset-list changesets=model}}

{{pagination-controls route="changesets" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset perPage=per_page}}
