<table class="table table-hover">
  <thead>
    <tr>
      <th>SHA1</th>
      <th>Start</th>
      <th>End</th>
      <th>Import Level</th>
      <th>Import Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each models as |model|}}
      <tr>
        <td class="{{if model.is_active_feed_version "success"}}">{{#link-to "feed-versions.show" model.id}}{{model.sha1}}{{/link-to}}</td>
        <td>{{model.earliest_calendar_date}}</td>
        <td>{{model.latest_calendar_date}}</td>
        <td>{{model.import_level}}</td>
        <td class="{{model.importStatusCssClass}}">{{model.import_status}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
