<div class="panel-group">
  {{#each feed.feed_versions as |feedVersion|}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {{feedVersion.sha1}}
          {{#if feedVersion.is_active_feed_version}}
            <span style="color: green;">
              {{fa-icon icon="lightbulb-o" title="This is the active feed version."}}
            </span>
            <small>
              this is the <strong style="color: green;">active feed version</strong>
            </small>
          {{/if}}
          <div class="pull-right">
            {{feed-version-controls feedVersion=feedVersion}}
          </div>
        </h4>
      </div>
      <div class="panel-body">
        <div class="panel-group">
          <dl class="dl-horizontal">
            <dt>Fetched from URL</dt>
            <dd><a href="{{feedVersion.url}}">{{feedVersion.url}}</a></dd>
            <dt>Archived Feed Version</dt>
            <dd>
              {{#if feedVersion.download_url}}
                <a href="{{feedVersion.download_url}}">Download</a>
              {{else}}
                No archived Feed Version
              {{/if}}
            </dd>
            <dt>Validation results</dt>
            <dd>
              {{#if feedVersion.feedvalidator_url}}
                <a target="_blank" href="{{feedVersion.feedvalidator_url}}">Results</a>
              {{else}}
                No results
              {{/if}}
            </dd>
            <dt>SHA1</dt>
            <dd>{{feedVersion.sha1}}</dd>
            <dt>MD5</dt>
            <dd>{{feedVersion.md5}}</dd>
            <dt>Earliest calendar date</dt>
            <dd>{{feedVersion.earliest_calendar_date}}</dd>
            <dt>Latest calendar date</dt>
            <dd>{{feedVersion.latest_calendar_date}}</dd>
            <dt>Fetched</dt>
            <dd>{{time-since-with-mouseover feedVersion.fetched_at}}</dd>
            <dt>Imported</dt>
            <dd>{{time-since-with-mouseover feedVersion.imported_at}}</dd>
            <dt>Import level</dt>
            <dd>{{feedVersion.import_level}}</dd>
            <dt>Tags</dt>
            <dd>{{stringify-json feedVersion.tags}}</dd>
          </dl>

          <!-- issues -->
          {{#each feedVersion.issues as |issue|}}
            {{#if (eq issue.issue_category "feed_import")}}
              {{#collapsable-panel title="Import issue..." panelClass="panel-danger"}}
              {{issue-contents issue=issue showEntities=false}}
              {{/collapsable-panel}}
            {{/if}}
          {{/each}}
          <!-- /issues -->

          {{#each feedVersion.feed_version_infos as |feedVersionInfo| }}
            TEST: {{feedVersionInfo.id}}
          {{/each}}

          {{#each feedVersion.feed_version_imports as |feedVersionImport| }}
            {{feed-versions-list/feed-version-import-panel feedVersionImport=feedVersionImport}}
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <p>No feed versions</p>
  {{/each}}
</div>
