{{#if showChangeset}}
  {{#modal-dialog title='Changeset' ok='saveChangeset' close='hideChangeset' okText='Apply Changeset'}}
    {{changeset-form changeset=model.changeset users=model.users }}
  {{/modal-dialog}}
{{/if}}

{{#if applyMessage.show}}
  {{#modal-message title='Apply Issue-resolving Changeset' close='toggleApplyMessage'}}
    <p>{{applyMessage.message}}</p>
    {{#each applyMessage.newIssues as |issue|}}
      <h3>New Issue:</h3>
      {{#each-in issue as |key value|}}
        <p>{{key}}: {{value}}</p>
      {{/each-in}}
    {{/each}}
  {{/modal-message}}
{{/if}}

{{#if closeMessage.show}}
  {{#modal-dialog title='Closing Issue' ok='closeIssue' close='toggleCloseMessage' closeText='Cancel' okText='Ok'}}
    <p>{{closeMessage.message}}</p>
  {{/modal-dialog}}
{{/if}}

{{#if applyingSpinner}}
  {{#loading-spinner}}{{/loading-spinner}}
{{/if}}

<div class="row has-leaflet-map">
  <div class="col-md-3">
    {{#issue-table model=model issueClicked="issueClicked"}}{{/issue-table}}
  </div>
  <div class="col-md-9 has-leaflet-map">
    <div class="route-geometry-resolve-button">
      <button {{action "showChangeset"}} class="btn btn-primary">Resolve</button>
      <button {{action "closeDialog"}} class="btn btn-primary">Close</button>
    </div>
    <div class="has-leaflet-map">
      {{#edit-map model=model rspAdded="rspAdded" stopAdded="stopAdded" actionDrawEdited="actionDrawEdited"}}{{/edit-map}}
    </div>
  </div>
</div>
